<div class="weather panel panel-primary">
    <div class="panel-heading">{{ parseDate(useDayForecast.dt) | date:'fullDate' }}</div>
    <div class="panel-body">
        <div>
            <p class="lead">
                <img ng-src="{{getIconImageUrl(useDayForecast.weather[0].icon)}}" />
                {{useDayForecast.temp.day | number:1 }}&#176;C {{useDayForecast.weather[0].main}}
            </p>
            <p>
                {{useDayForecast.weather[0].description}}&nbsp;&#126;&nbsp;
                High: {{useDayForecast.temp.max}}&#176;C&nbsp;&#126;&nbsp;
                Low: {{useDayForecast.temp.min}}&#176;C
            </p>
        </div>
    </div>
    <div class="panel-footer">
        <small>
            Day: {{useDayForecast.temp.day}}&#176;C&nbsp;&#126;&nbsp;
            Night: {{useDayForecast.temp.night}}&#176;C&nbsp;&#126;&nbsp;
            Pressure: {{useDayForecast.pressure}} hPa&nbsp;&#126;&nbsp;
            Humidity: {{useDayForecast.humidity}}%
        </small>
    </div>
</div>
